<div class="verify-code">
  <p class="generatedcode">Code to copy: <span class="code">{{ codeToCopy }}</span></p>

  <form [formGroup]="codeForm" class="codeform">
    <div class="digitinputs">
      <input class="digit" type="text" formControlName="digit1" maxlength="1" pattern="\d" required />
      <input class="digit" type="text" formControlName="digit2" maxlength="1" pattern="\d" required />
      <input class="digit" type="text" formControlName="digit3" maxlength="1" pattern="\d" required />
      <input class="digit" type="text" formControlName="digit4" maxlength="1" pattern="\d" required />
      <input class="digit" type="text" formControlName="digit5" maxlength="1" pattern="\d" required />
      <input class="digit" type="text" formControlName="digit6" maxlength="1" pattern="\d" required />
    </div>

    <button class="button" type="submit" [disabled]="codeForm.invalid">Verify code</button>
  </form>
</div>