.verify-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui;

    >.generatedcode {
        font-size: 18pt;

        >.code {
            font-weight: bold;
        }
    }

    >.codeform {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        >.digitinputs {
            display: flex;
            gap: 8px;

            >.digit {
                font-size: 28pt;
                width: 1em;
                text-align: center;

                &:disabled {
                    cursor: not-allowed;
                }
            }
        }

        >.button {
            font-size: 18pt;

            &:disabled {
                cursor: not-allowed;
            }
        }
    }
}